body {
    font-family: 'Montserrat', sans-serif;
    color: #e0e2db;
    background-color: #191716;
}

a {
    text-decoration: none;
    color: #e0e2db;
}

a:hover {
    cursor: pointer;
}

/* ----------------------- home - columns ----------------------- */


.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 50px;
    top: 100px;
    /* border: dotted 2px white; */
}

.column {
    /* border: solid 2px white; */
    padding: 20px;
}

/* ----------------------- home - left column ----------------------- */

#column-left {
    flex-grow: 1;
}

#column-left h1 {
    letter-spacing: 2px;
    line-height: 200%;
    font-weight: 400;
}

#column-left p {
    line-height: 200%;
}

#column-left .link-animation:hover {
    color: #e6af2e;
    transition: 1s;
}


/* ----------------------- home - right column ----------------------- */
#column-right {
    flex-grow: 2;
    font-family: 'Cardo', serif;
    font-size: 7vw;
}

#column-right a:hover {
    font-style: italic;
}

/* ----------------------- contact - form ----------------------- */
#back-button {
    margin: 20px 0px 0px 20px;
    padding: 10px;
    border: solid .5px #6c675d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #e0e2db;
    font-weight: 300;
    background: transparent;
    cursor: pointer;
}

#back-button:hover {
    background: #e0e2db;
    color: #191716;
    transition: .5s;
}

.contact-me {
    width: 500px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 2px;
}

.contact-me:hover {
    color: #e6af2e;
    cursor: default;
    transition: .2s ease-in-out;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#contact-form .input-item {
    width: 500px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border: solid 1px #424141;
    background: transparent;
}

#contact-form textarea {
    height: 200px;
    width: 500px;
}

#contact-form ::placeholder {
    color: #e0e2db;
  }

#contact-form #send-button {
    padding: 10px;
    cursor: pointer;
    color: #e0e2db;
}

#contact-form .input-item:hover {
    background: #424141;
    transition: .3s ease-in-out;
  }

input:focus,
textarea:focus {
    outline-width: 0;
    color: #e0e2db;
}  



/* ----------------------- media ----------------------- */

