body {
    font-family: 'Montserrat', sans-serif; /* default font */
    color: #E8E7E7; /* default font color */
    background-color: #191716; /* default background color */
}

a {
    text-decoration: none; /* remove default link stylizing */
    color: #E8E7E7; /* change default link color */ 
}

a:hover {
    cursor: pointer; /* change pointer style when hovering over links */
}

/* ----------------------- external links ----------------------- */

.link-animation {
    display: inline-block; /* underline positioning for link animation */
    position: relative; /* underline positioning for link animation */
    transition: all .5s ease-in-out; /* transition from hover to no hover */
}

.link-animation:hover {
    color: #e6af2e; /* new font color upon mouse hover */
    transition: all .5s ease-in; /* transition from no hover to hover */
}

.link-animation::after {
    content: ''; /* inserts blank text after each nav link */
    position: absolute;
    width: 100%; /* starting width of blank text is 0% */
    transform: scaleX(0);
    height: .7px; /* thickness of underline */
    bottom: 0;
    left: 0;
    background: #e6af2e; /* underline color */
    transition: transform .5s ease-in-out; /* length of animation */   
}

.link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* ----------------------- home - column container ----------------------- */


.column-container {
    display: flex; /* enable flexbox */ 
    flex-wrap: wrap; /* when window is resized smaller the columns will stack */ 
    justify-content: space-evenly; /* space elements evenly horizontally */ 
    position: relative; /* enable container to be moved down */
    margin: 100px; /* sets margin for all sides */
    top: 80px; /* moves container down */
}

/* ----------------------- home - left column ----------------------- */

#column-left {
    flex-grow: 1;
    padding-right: 25px;
}

#column-left h1 {
    letter-spacing: 2px;
    line-height: 200%;
    font-weight: 400;
}

#column-left p {
    line-height: 200%;
}

/* ----------------------- home - right column ----------------------- */
#column-right {
    flex-grow: 2;
    font-family: 'Playfair Display SC', serif;
    font-size: 7vw;
}

#column-right a:hover {
    font-style: italic;
}

/* ----------------------- contact - form ----------------------- */
#back-button {
    margin: 20px 0px 0px 20px;
    padding: 10px;
    border: solid .5px #6c675d;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #E8E7E7;
    font-weight: 300;
    background: transparent;
    cursor: pointer;
}

#back-button:hover {
    background: #E8E7E7;
    color: #191716;
    transition: .5s;
}

.contact-me {
    width: 500px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: 2px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#contact-form .input-item {
    width: 500px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border: solid 1px #302E2D;
    background: transparent;
}

#contact-form textarea {
    height: 200px;
    width: 500px;
    resize: none;
}

#contact-form ::placeholder {
    color: #E8E7E7;
  }

#contact-form #send-button {
    padding: 10px;
    cursor: pointer;
    color: #E8E7E7;
}

#contact-form .input-item:hover {
    background: #302E2D;
    transition: .3s ease-in-out;
  }

input:focus,
textarea:focus {
    outline-width: 0;
    color: #E8E7E7;
}  

/* ----------------------- media ----------------------- */

