body {
    font-family: 'Montserrat', sans-serif;

}

a {
    text-decoration: none;
    font-family: 'Cardo', serif;
    color: black;
}

a:hover {
    cursor: pointer;
}

body {
    background-color: beige;
}


.column-container {

}

#column-left {
    background-color: lightgreen;
}

.header {
    letter-spacing: 2px;
} 

#column-right {
    font-size: 8vw;
    background-color: pink;
}

#column-right a:hover {
    font-style: italic;
}

/* .nav-link {
    padding: 10px;
} */